/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: lightslategray transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  margin: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: lightslategray;
  border-radius: 0.5rem;
}

*::-webkit-scrollbar-corner {
  background-color: transparent;
}
